.menu-card {
  max-width: 400px;

  .mat-card-header {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.menu-card-header-image {
  background-image: url('../../../../assets/images/img-avatar.png');
  background-size: cover;
  background-color: #ccc;
}

::ng-deep {
  .menu-user {
    .mat-menu-content:not(:empty) {
      padding: 0;
    }
  }
}

.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-height: 56px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 25px;
}
