@import 'node_modules/bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.blue-snackbar {
  background: #2196f3;
  color: white;
}
.red-snackbar {
  background: red;
  color: white;
}

.yellow-snackbar {
  background: orange;
  color: white;
}
.red {
  color: rgb(227, 94, 107);
}
.v-middle {
  vertical-align: middle;
}
